@import "../../style/variaveis";

.footer{
    background-color: $azul-rodape;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    box-shadow: 0px -2px 30px rgba($color: #000000, $alpha: 0.5);
    box-sizing: border-box;
    

    &__nav{
        display: flex;
        column-gap: 1rem;
        align-items: center;
    }

    &__copyright{
        font-size: 16px;
        font-family: $fonte-normal;
        color: $cor-do-texto;
        
    }
    &__a{
        text-decoration: none;
        color: $cor-do-texto;
        font-family: $fonte-normal;
    }
}